@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



// Variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$font-family: 'Arial', sans-serif;

// Base styles
body {
  font-family: $font-family;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #020202;
}



.header {
    background-color: transparent;
    background-image: url('../assets/Container.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 70% 150%;
    height: auto;
    padding-top: 150px;
    position: relative;
    // -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    // mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
  }

  .header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Adjust fade height */
    background: linear-gradient(to bottom, transparent, black); /* Change 'black' to your body bg color */
    pointer-events: none;
  }

  .nav1{
    border: 2px solid #FFFFFF1A;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin-top: -7px;
    backdrop-filter: blur(8px);
  }

  .navbar-nav .nav-link {
    color: #D1D5DB !important;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;

  }

  .btn-started{
    background: radial-gradient(66.36% 50% at 50.14% 0%, #927DE8 0%, #755AE2 100%);
    color: #fff;
    border: 1px solid #927DE8;
    font-family: Manrope;
    font-weight: 400;
    font-style: SemiBold;
    border-radius: 8px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 20px;
  }
  .headerText{
    height:100%;
    display: inline-flex;
    align-items: center;
  }
  .headerText h1{
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 3.2rem;
    line-height: 120%;
    letter-spacing: -1.5px;
    vertical-align: middle;
    font-variant-numeric-zero: slashed-zero;
    color: #fff;

  }

  .headerText p{
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #D1D5DB;
  }

  .headerText button{
    padding: 10px 50px;
  }

  .app-mockup{
    text-align: right;
  }
  .app-mockup img{
    width: 400px;
    height: auto;
  }

  .multichain-logos{
    margin-top: 50px;
  }

.multichain-logos h6{
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
    color: #7c7c7c;
    margin-bottom: 20px;
}

.multichain-logos .logos img{
    margin-right: 20px;
}

.multichain-logos .logos{
    display: inline-flex;
}

.multichain-logos .logos h5{
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #d1d5db;
    margin-bottom: -5px;
}

.section2{
    margin-top: 150px;
}

.section1{
    margin-top: 200px;
}

.title{
    margin-bottom: 80px;
    text-align: center;

}

.title h2{
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: -1.5px;
    text-align: center;
    color: #fff;
}

.title p{
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.3px;
    text-align: center;
    color: #d1d5db;
}
.title h6{
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.3px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #6b7280;
}

.card{
    height: 100%;
    background-color: transparent;
    padding: 20px;
    border-radius: 0px;
}
.card img{
    height: 40px;
    width: 40px;
    text-align: left;
    margin-bottom: 10px;
}

.card h3{
    color: #fff;
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0px;

}

.card p{
    color: #9ca3af;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.2px;

}

.middleCard{
    border-left: 1px solid #4b5563;
     border-right: 1px solid #4b5563;
}

.flagCard{
    display: inline-flex ;
    align-items: center;
    height: 100%;
    background-color: transparent;
    padding: 20px;
}

.flagCard h3{
    color: #fff;
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0px;

}

.flagCard p{
    color: #9ca3af;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.2px;

}

.section2 .title{
    margin-bottom: 150px;
}

.card2{
    text-align: center;
}















@media all and (min-width: 992px){
    .title p{
        width: 40%;
        margin: auto;
    }

    .card2{
        width: 80%;
        margin: auto;
    }
   
}


@media (max-width: 991.98px) {
    .nav1{
        border-radius: 30px;
    }

    .navbar-collapse {
        text-align: left;
      }
      
      .navbar-nav {
        align-items: flex-start;
      }
      
      .navbar-collapse .d-flex {
        justify-content: flex-start;
      }
      .btn-started1{
        margin-left: -35px;
      }

      .navbar-toggler-icon {
        filter: invert(1);
      }

      .headerText h1{
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 130%;
        letter-spacing: -1px;
      }

      .headerText p{
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0%;
      }

      .multichain-logos h6{
        margin-bottom: 10px;
    }

    .multichain-logos .logos img{
        margin-right: 15px;
        height: 25px;
        width: 25px;
    }

    .multichain-logos .logos h5{
       
        font-size: 15px;
        line-height: 32px;
        margin-bottom: 5px;
    }

    .app-mockup img{
        width: 300px;
        height: auto;
      }
      .app-mockup{
        text-align: right;
        margin-top: 40px;
      }
      .section1{
        margin-top: 150px;
      }

      .section2{
        margin-top: 50px;
      }
    

      .title h2{
        font-size: 30px;
        line-height: 120%;
        letter-spacing: -1.5px;
    }
    
    .title p{
        font-size: 15px;
        line-height: 150%;
        letter-spacing: -0.3px;
        width: 60%;
        margin: auto;
    }

    .title h6{
       
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 1.3px;
    }

    .middleCard{
        border-left: none;
         border-right: none;
    }

    .card img{
        height: 33px;
        width: 33px;
        margin-bottom: 10px;
    }
    
    .card h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0px;
    
    }
    
    .card p{
        font-size: 15px;
        line-height: 150%;
        letter-spacing: -0.2px;
    
    }

    .flagCard h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0px;
    
    }
    
    .flagCard p{
        font-size: 15px;
        line-height: 150%;
        letter-spacing: -0.2px;
    
    }
    .section2 .title{
        margin-bottom: 100px;
    }
}


@media (max-width: 767.98px) {
    .app-mockup{
        text-align: center;
      }

      .header {
        background-image: none;
        height: auto;
       
      }
      .section1{
        margin-top: 150px;
      }

      .section2{
        margin-top: 100px;
      }

      .title h2{
        font-size: 25px;
        line-height: 120%;
        letter-spacing: -1.5px;
    }
    
    .title p{
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.3px;
        width: 60%;
        margin: auto;
    }

      .card img{
        height: 30px;
        width: 30px;
        margin-bottom: 10px;
    }
    
    .card h3{
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0px;
    
    }
    
    .card p{
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.2px;
    
    }

    .flagCard h3{
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0px;
    
    }
    
    .flagCard p{
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.2px;
    
    }

     
}

@media (max-width: 575.98px){
    .container{
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    }

    .nav1{
        margin-right: calc(var(--bs-gutter-x) * 1.0);
        margin-left: calc(var(--bs-gutter-x) * 1.0);
    }
    .navbar-brand img{
        height: auto;
        width: 120px;
    }

    .headerText h1{
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 130%;
        letter-spacing: -1px;
      }
      .headerText p{
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0%;
      }

      .multichain-logos .logos h5{
       font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        margin-bottom: 5px;
    }

    .app-mockup img{
        width: 300px;
        height: auto;
      }
      .app-mockup{
        text-align: center;
       
      }
      .middleCard{
        border-top: 1px solid #4b5563;
         border-bottom: 1px solid #4b5563;
         
    }

    .title{
        margin-bottom: 30px;
    }

    .title h2{
        font-size: 23px;
        line-height: 120%;
        letter-spacing: -1.5px;
    }

    .flag img{
        height: auto;
        width: 150px;
    }
     
}
